/Lab1/media/10Rabatt.jpg
/Lab1/media/boot.jpeg
/Lab1/media/humanic.jpg
/Lab1/media/img1.xcf
/Lab1/media/img2.xcf
/Lab1/media/img3.xcf
/Lab1/media/mittelfinger.jpg
/Lab1/media/moomboots.jpg
/Lab1/media/staudinger.jpg
/Lab1/media/staudinger schuh.jpeg
/.idea/.gitignore
/.idea/modules.xml
/.idea/nvs-labs-oberwalder.iml
/.idea/vcs.xml
