#to_shop {
  margin-top: 5vw;
  text-align: center;
}

#shop_btn {
  margin-top: 2vw;
  margin-bottom: 4.5vw;
}

#heading {
  text-align: center;
  margin-top: 15vh;
  font-weight: bold;
}

#carouselExampleDark {
  margin-top: 5vw;
}
