.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 700,
            'GRAD' 200,
            'opsz' 48;

}

#logo {
    margin-right: 5px;
}

#carousel {
    margin-top: 30px;
}

.search {
    color: white;
}

.navbar-brand {
    margin-right: 15px;
}