* {
    font-family: 'Silkscreen', cursive;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 700,
            'GRAD' 200,
            'opsz' 48;

}

#logo {
    margin-right: 5px;
}

#carouselExampleDark {
    margin-top: 5vw;
}

.search {
    color: white;
}

.navbar-brand {
    margin-right: 20px;
}

#heading {
    text-align: center;
    margin-top: 5vw;
    font-weight: bold;
}

.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
    border: none !important;
    box-shadow: none !important;
}