#email-field {
  font-family: Bahnschrift, cursive !Important;
}

footer {
  background: #212529;
  color: white !important;
}

.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
  border: none !important;
  box-shadow: none !important;
}

#logo {
  margin-right: 5px;
}

.search-bar {
  color: black !important;
  font-family: Bahnschrift, cursive !Important;
}

.search-icon {
  color: white !important;
}

.navbar-brand {
  margin-right: 20px;
}

footer {
  margin-top: auto;
}
